@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

nav ul a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
}

a.active {
  color: rgb(234 179 8 / var(--tw-text-opacity));
}

main {
  min-height: 80vh;
}

.products-listing {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 15px;
}

@media screen and (max-width: 400px) {
  .logo h1 {
    font-size: 18px;
  }

  nav ul a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
  }
}

@media screen and (max-width: 770px) {
  .hero-image {
    display: none;
  }
}
